body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.ideas {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.like_button {
    margin-right: 10px;
    background-color: #218838;
    display: flex;
    justify-content: center;
}